DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5432

# Format: postgresql://[user]:[password]@[host]:[port]/[db_name]?schema=public
DATABASE_URL=postgresql://your_database_user:your_database_password@localhost:5432/your_database_name?schema=public

NEXT_PUBLIC_API_URL=http://localhost:8000